<div class="captcha">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <br>
<div *ngIf="challengeType === 'recaptcha'">
    <re-captcha (resolved)="updateChallengeWin()" siteKey="6LcdNVYoAAAAAJFHYuF_cO-_KD8SDhQyNU-nrd9L"></re-captcha>
</div>

<div *ngIf="challengeType === 'hcaptcha'">
    <ng-hcaptcha (verify)="updateChallengeWin()"></ng-hcaptcha>
</div>

<div *ngIf="challengeType === 'text'">
    <p>Enter the following text: "{{ challengeStrings[0] }}"</p>
    <input [(ngModel)]="userInput" placeholder="Enter the text">
    <button (click)="checkTextChallenge()">Submit</button>
</div>
</div>